body {
   background-color: #a8c0a8;

}

input {
    font-size: 1.6vw;
    padding: 10px;
    border: 3px solid #d3d3d3; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

input:focus {
    border-color: #4a6656; 
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0e9dd;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    width: 50%;
    height: 50%;
}

.title {
    font-size: 2.4vw;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-description {
    font-size: 1.6vw;
    color: #769483;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6vw;
    gap: 24px;
}

.login-button {
    font-size: 1.6vw;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid green;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* aqui está correto */
}


.login-button:hover {
    background-color: #32cd32; /* verde limão, vibrante e claro */
    border: 2px solid #32cd32;
    transform: scale(1.08);
}


.link-option {
    text-decoration: none;
    color: #4a6656; /* tom suave e confiável */
    font-size: 1.6vw;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.2s;
    position: relative;
}

.link-option::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #4a6656;
    transition: width 0.3s ease;
}

.link-option:hover::after {
    width: 100%;
}

.link-option:hover {
    color: #355144;
    cursor: pointer;
}
